.elementor-40522 .elementor-element.elementor-element-539bede>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-96cd4d0:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-96cd4d0>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-96cd4d0.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-96cd4d0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-96cd4d0>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-96cd4d0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-de87aa0:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-de87aa0>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-de87aa0.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-de87aa0.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-de87aa0>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-de87aa0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-bb706f1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-bb706f1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-bb706f1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-bb706f1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-bb706f1>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-bb706f1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-6544bd7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-6544bd7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-6544bd7.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-6544bd7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-6544bd7>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-6544bd7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-59ae556:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-59ae556>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-59ae556.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-59ae556.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-59ae556>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-59ae556>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-6211aae:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-6211aae>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-6211aae.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-6211aae.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-6211aae>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-6211aae>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-6d00491:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-6d00491>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-6d00491.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-6d00491.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-6d00491>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-6d00491>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-a1f73db:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-a1f73db>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-a1f73db.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-a1f73db.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-a1f73db>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-a1f73db>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-505e9c7:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-505e9c7>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-505e9c7.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-505e9c7.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-505e9c7>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-505e9c7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-54fa2ee:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-54fa2ee>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-54fa2ee.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-54fa2ee.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-54fa2ee>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-54fa2ee>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-ce3928b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-ce3928b {
    padding: 0px 0px 0px 0px;
}

.elementor-40522 .elementor-element.elementor-element-50df547:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-50df547>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-50df547.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-50df547.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-50df547>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-50df547>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-cd704e4:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-cd704e4>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-cd704e4.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-cd704e4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-cd704e4>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-cd704e4>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-37cbd3c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-37cbd3c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-37cbd3c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-37cbd3c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-37cbd3c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-37cbd3c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-40b9031:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-40b9031>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-40b9031.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-40b9031.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-40b9031>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-40b9031>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-71c8c5c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-71c8c5c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-71c8c5c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-71c8c5c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-71c8c5c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-71c8c5c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-ea94194>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-ea94194 {
    padding: 0px 0px 0px 0px;
}

.elementor-40522 .elementor-element.elementor-element-ff1b83c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-ff1b83c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-ff1b83c.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-ff1b83c.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-ff1b83c>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-ff1b83c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-dff833e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-dff833e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-dff833e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-dff833e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-dff833e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-dff833e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-b3b3cdb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-b3b3cdb>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-b3b3cdb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-b3b3cdb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-b3b3cdb>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-b3b3cdb>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-b49f3d2:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-b49f3d2>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-b49f3d2.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-b49f3d2.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-b49f3d2>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-b49f3d2>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-2171ee1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-2171ee1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-2171ee1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-2171ee1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-2171ee1>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-2171ee1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-ab52bd5>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-ab52bd5 {
    padding: 0px 0px 0px 0px;
}

.elementor-40522 .elementor-element.elementor-element-6c505cb:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-6c505cb>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-6c505cb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-6c505cb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-6c505cb>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-6c505cb>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-cdcf423:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-cdcf423>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-cdcf423.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-cdcf423.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-cdcf423>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-cdcf423>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-01d9d6d:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-01d9d6d>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-01d9d6d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-01d9d6d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-01d9d6d>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-01d9d6d>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-3c43b43:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-3c43b43>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-3c43b43.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-3c43b43.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-3c43b43>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-3c43b43>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-36e33b3:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-36e33b3>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-36e33b3.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-36e33b3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-36e33b3>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-36e33b3>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-02c0f0d>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-02c0f0d {
    padding: 0px 0px 0px 0px;
}

.elementor-40522 .elementor-element.elementor-element-ed5e439:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-ed5e439>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-ed5e439.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-ed5e439.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-ed5e439>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-ed5e439>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-796a71b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-796a71b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-796a71b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-796a71b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-796a71b>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-796a71b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-e92d2c1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-e92d2c1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-e92d2c1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-e92d2c1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-e92d2c1>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-e92d2c1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-5df88ea:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-5df88ea>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-5df88ea.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-5df88ea.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-5df88ea>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-5df88ea>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-148da70:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-148da70>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-148da70.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-148da70.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-148da70>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-148da70>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-a7b47c0>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-a7b47c0 {
    padding: 0px 0px 0px 0px;
}

.elementor-40522 .elementor-element.elementor-element-5f52ada:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-5f52ada>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-5f52ada.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-5f52ada.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-5f52ada>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-5f52ada>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-651455e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-651455e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-651455e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-651455e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-651455e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-651455e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-718f830:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-718f830>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-718f830.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-718f830.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-718f830>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-718f830>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-bdfc441:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-bdfc441>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-bdfc441.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-bdfc441.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-bdfc441>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-bdfc441>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-2e74cc9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-2e74cc9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-2e74cc9.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-2e74cc9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-2e74cc9>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-2e74cc9>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-0e7047c>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-0e7047c {
    padding: 0px 0px 0px 0px;
}

.elementor-40522 .elementor-element.elementor-element-350014e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-350014e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-350014e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-350014e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-350014e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-350014e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-8bafe78:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-8bafe78>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-8bafe78.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-8bafe78.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-8bafe78>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-8bafe78>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-9afa636:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-9afa636>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-9afa636.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-9afa636.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-9afa636>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-9afa636>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-a2b541b:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-a2b541b>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-a2b541b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-a2b541b.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-a2b541b>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-a2b541b>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-40522 .elementor-element.elementor-element-85eefac:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-40522 .elementor-element.elementor-element-85eefac>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-bc-flex-widget .elementor-40522 .elementor-element.elementor-element-85eefac.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-85eefac.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-40522 .elementor-element.elementor-element-85eefac>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-40522 .elementor-element.elementor-element-85eefac>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}